body {
  background-image: linear-gradient(-45deg, rgb(0, 0, 0), rgb(255, 0, 0), rgb(255, 127, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 255, 255));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%;
}

50% {
  background-position: 100% 50%;
}

100% {
  background-position: 0% 50%;
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%;
}

50% {
  background-position: 100% 50%;
}

100% {
  background-position: 0% 50%;
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%;
}

50% {
  background-position: 100% 50%;
}

100% {
  background-position: 0% 50%;
}
}


h1,
h2 {
  color: white;
  font-family: "impact", serif;
}

p {
  color: white;
}

a {
  color: rgb(255, 127, 0);
}

table {
  color: rgb(0, 0, 255);
  margin: auto;
}

button {
  background-color: rgb(255, 255, 0);
}

button:hover,
button:focus {
  background-color: rgb(255, 255, 255);
}

a:active {
  background-color: rgb(255, 127, 0);
  color: rgb(0, 255, 255);
}

#reset-points {
  border: 6px double rgb(0, 0, 255);
  color: rgb(0, 0, 255);
}

#auto-click-heading {
  color: rgb(0, 0, 255);
  position: absolute;
  top: 30px;
  right: 30px;
}

#auto-clicks-container {
  background-color: rgb(255, 255, 0);
  width: 10%;
  float: right;
}

#click-table {
  background-color: rgb(115, 155, 155);
  height: 300px;
  width: 300px;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
}

#number-of-clicks {
  color: rgb(255, 0, 255);
}

#how-to-play {
  color: white;
}

.auto-clicks {
  float: right;
  width: 90%;
  position: relative;
  right: 4.5%;
}

.auto-click-text {
  color: rgb(0, 0, 255);
}

.pic {
  width: 105px;
}

.type-of-origami {
  background-color: rgb(255, 0, 0);
}

.number-of-points {
  background-color: rgb(255, 127, 0);
}

.required-to-unlock,
.cost {
  background-color: rgb(255, 255, 0);
}