body {
  font-family: Arial, sans-serif;
}

form {
  font-size: 1.5em;
}

.scrambled,
input,
button {
  font-family: monospace;
  font-size: 2em;
}

#result {
  height: 80px;
  margin-top: 30px;
  text-align: center;
}